*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-color:rgb(126, 156, 126);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}